@page
@model SportsBlogV2.Pages.DetailsModel
@{
    ViewData["Title"] = "Cały post";
}
<div class="container text-center" style="font-size:20px;">
    <h1>@Html.DisplayFor(modelItem => Model.Post.Title)</h1>
    <a class="btn btn-danger mt-2" data-toggle="modal" data-target="#ConfirmModal">Usuń post</a>
    <div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Czy na pewno chcesz usunąć?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Anuluj</button>
                    <a type="button" class="btn btn-danger" asp-page="Delete" asp-route-id="@Model.Post.PostId">Usuń</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 mt-3">
            <img class="card-img-top" src="~/images/@Html.DisplayFor(modelItem => Model.Post.ImageName)" alt="missing @Model.Post.ImageName">
            <div class="card">
                <div class="card-body text-justify">
                    <div class="card-text mt-3">
                        <p>@Html.DisplayFor(modelItem => Model.Post.Content)</p>
                    </div>
                </div>
                <div class="mt-3">
                    <h2>Komentarze : @Html.DisplayFor(modelItem => Model.Post.Comments.Count)</h2>
                </div>
                <div class="mt-3 mb-3">
                    @foreach (var comment in Model.Post.Comments)
                    {
                        <div class="card">
                            <div class="card-body">
                                <div class="card-text mt-1 text-justify">
                                    <p>@Html.DisplayFor(modelItem => comment.Content)</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <form method="post" asp-route-id="@Model.Post.PostId" class="mt-3">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Comment.Content" class="control-label">Treść</label>
                        <textarea id="comment-content" asp-for="Comment.Content" class="form-control"></textarea>
                        <span asp-validation-for="Comment.Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <p id="comment-validation-result" style="color: palevioletred;"></p>
                        <input onclick="return Validate();" type="submit" value="Dodaj komentarz" class="btn create-submit-button" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script>
        function Validate() {
            var x = document.getElementById("comment-content").value;
            if (x == "") {
                document.getElementById("comment-validation-result").innerHTML = "Komentarz musi zawierać treść !";
                return false;
            }
        }
    </script>

}

