@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">

    <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
            <a asp-page="Create" class="btn index-top-button">Utwórz nowy post</a>
        </div>
    </div>

    @foreach (var item in Model.Posts.Reverse())
    {
        <div class="row">
            <div class="col-xl-12">
                <div class="card mt-3">
                    <img src="~/images/@Html.DisplayFor(modelItem => item.ImageName)" class="card-img-top" alt="missing @item.ImageName">
                    <div class="card-body">
                        <a asp-page="./Details" asp-route-id="@item.PostId">
                            <h2 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h2>
                        </a>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.ShortContent)...</p>
                        <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => item.CreatedAt)</small></p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
